.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(
      rgba(39, 39, 39, 0.8),
      rgba(39, 39, 39, 0.8)
    ),
    url("./Masthead2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
